<div class="container">
  <div class="col-sm-6">
    <img src="/images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Thank you for submitting!</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
    <p></p>
    <p>this page is the one you recieve after you finish completing the contact us form. If you revieved it under any other circumstances please contact example@gmail.com.</p>
  </div>
</div>
